SUPERSET_SECRET_KEY=replace_with_a_long_random_secret

SUPERSET_ADMIN_USERNAME=admin
SUPERSET_ADMIN_FIRSTNAME=Admin
SUPERSET_ADMIN_LASTNAME=Superset
SUPERSET_ADMIN_EMAIL=admin@superset.local
SUPERSET_ADMIN_PASSWORD=admin

DW_SQLALCHEMY_URI=postgresql+psycopg2://pharmacy_user:pharmacy_pass@host.docker.internal:5434/pharmacy_emb
